//Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

//Variables
$bg-color: rgba(173, 216, 230, 0.349);
$color-dark: rgb(88, 88, 88);
$color-light: rgba(105, 105, 105, 0.527);
$color-inactive: rgb(167, 187, 197);
$color-active: rgb(88, 88, 88);
$thick-font: 'Montserrat', sans-serif;
$simple-font: 'Lato', sans-serif;
$logo-font:'Oleo Script', cursive;
